.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 60vh;
  height: 60vh;
  border: 1px solid skyblue;
  padding: 10px;
  gap: 10px;
}

.todo-group {
  height: 90%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-overflow-scrolling: auto;
  overflow-y: auto;
}

.todo-item-label{
  min-width: 80%;
}

.todo-item {
  min-width: 80%;
  margin: 5px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 10px, 10px, 10px, 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
